<nav class="navbar navbar-expand navbar-dark px-2">

  <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <img class="logo" src="assets/logo4.jpg" alt="logo">

  <a href="#" class="navbar-brand px-2">VendMaRue</a>

  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
          Vendre
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" routerLink="/create-product">Vendre un produit</a></li>
          <li><a href="#" class="dropdown-item">Vendre un service</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
          Mes commandes
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item"></a></li>
          <li><a href="#" class="dropdown-item">Voir mes commandes</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
          Mes annonces
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a href="#" class="dropdown-item">Voir mes annonces</a></li>
          <li><a href="#" class="dropdown-item">Vendre un service</a></li>
        </ul>
      </li>


    </ul>

  </div>

  <form class="d-flex me-5">
    <input class="form-control me-3" type="search" placeholder="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>

  <button class="btn btn-outline-light" routerLink="/connexion" type="button" *ngIf="!getUserService().checkUserSession()">Connexion</button>
  <button class="btn btn-outline-light" routerLink="/inscription" type="button" *ngIf="!getUserService().checkUserSession()">Inscription</button>


<div class="profile-logo dropstart" *ngIf="getUserService().checkUserSession()">
  <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">
    {{getUserService().getUserSurname()}}
  </button>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" [routerLink]="'/profil/' + getUserService().getUserId()">Profil</a></li>
    <li><a class="dropdown-item" routerLink="" (click)="getUserService().deleteUserSession()">Déconnexion</a></li>
  </ul>
</div>


</nav>
