/* You can add global styles to this file, and also import other style files */
@media (min-width: 870px) {
    *> .modal-dialog {
    min-width: 800px !important;
    margin-right: auto;
    margin-left:auto;
    }
}