  <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
      <div class="col">
        <app-card [card]="CardArray[0]"></app-card>
        <app-card [card]="CardArray[1]"></app-card>
        <app-card [card]="CardArray[2]"></app-card>

      </div>
      <div class="col">
        <app-card [card]="CardArray[0]"></app-card>
        <app-card [card]="CardArray[0]"></app-card>
      </div>
      <div class="col">
        <app-card [card]="CardArray[0]"></app-card>

      </div>
      <div class="col">
        <app-card [card]="CardArray[0]"></app-card>
      </div>
    </div>
  </div>

