<div class="wrapper bg-white mt-sm-5" >
    <!-- // add condition si user connecté correctement -->
    <h4 class="pb-4 border-bottom">Réglages</h4>
    <form (submit)="onSubmit()">
        <div class="avatar-upload">
            <div class="avatar-edit">
                <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="onFileSelected($event)">
                <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
                <div id="imagePreview"
                    [style.background-image]="'url(' + (userString ? user.user_pp : '../assets/profilepic1.png') + ')'">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

    <div class="py-2">
        <form (submit)="onSubmitInfos()">
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="firstname">Prénom</label>
                    <input type="text" class="bg-light form-control" placeholder="Votre prénom"
                        [(ngModel)]="user.user_surname" name="user_surname">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="lastname">Nom</label>
                    <input type="text" class="bg-light form-control" placeholder="Votre nom"
                        [(ngModel)]="user.user_name" name="user_name">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="email">Adresse Email</label>
                    <input type="text" class="bg-light form-control" [(ngModel)]="user.user_email" readonly
                        name="user_email">
                </div>
                <div class="col-md-6 pt-md-0 pt-3">
                    <label for="phone">Numéro de téléphone</label>
                    <input type="tel" class="bg-light form-control" placeholder="+33 00 00 00 00 00"
                        [(ngModel)]="user.user_phone" name="user_phone">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-md-6">
                    <label for="country">Localisation</label>
                    <select name="country" id="country" class="bg-light" [(ngModel)]="user.user_loc"
                        name="user_country">
                        <option value="idk" selected>idk</option>
                        <option value="idk">idk</option>
                    </select>
                </div>
                <div class="col-md-6 pt-md-0 pt-3" id="lang">
                    <label for="Description">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" class="bg-light"
                        placeholder="Décrivez-vous en quelques mots..." [(ngModel)]="user.user_desc"
                        name="user_desc"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
        <div class="py-3 pb-4 border-bottom">
            <button class="btn btn-primary mr-3">Sauvegarder</button>
            <button class="btn border button">Annuler</button>
        </div>
        <div class="d-sm-flex align-items-center pt-3" id="deactivate">
            <div>
                <b>Détruire le compte</b>
                <p>Mot de passe</p>
            </div>
            <div class="ml-auto">
                <button class="btn danger" (click)="openModal(deactivateModal)">Désactivation du compte</button>
            </div>
        </div>

    </div>
</div>


<!--MODAL -->
<ng-template #deactivateModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmation de désactivation</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Êtes-vous sûr de vouloir désactiver votre compte ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(this.user.id)">Désactiver le compte</button>
    </div>
</ng-template>