<div class="side-nav-content">
  <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
    <li class="nav-list-item" *ngFor="let i of array" routerLink="{{list[i].route}}">
      <i class="{{list[i].icon}}"></i>
      <span>
        <a>{{list[i].name}}</a>
      </span>
    </li>
    <li class="nav-list-item" routerLink="{{list[4].route+this.userservice.getUserId()}}">
      <i class="{{list[4].icon}}"></i>
      <span>
        <a>{{list[4].name}}</a>
      </span>
    </li>
  </ul>
</div>
